.ipynb_checkpoints/preliminary_exploration-checkpoint.ipynb
.ipynb_checkpoints/grid_search-checkpoint.ipynb
.ipynb_checkpoints/grid_search_band_cut-checkpoint.ipynb
.ipynb_checkpoints/grid_search_both-checkpoint.ipynb
.ipynb_checkpoints/visualization-checkpoint.ipynb
.ipynb_checkpoints/2nd_exploration-checkpoint.ipynb
.ipynb_checkpoints/2nd_grid_search-Copy1-checkpoint.ipynb
.ipynb_checkpoints/2nd_grid_search-Copy2-checkpoint.ipynb
.ipynb_checkpoints/2nd_grid_search-checkpoint.ipynb
.ipynb_checkpoints/3rd_exploration-checkpoint.ipynb
.ipynb_checkpoints/3rd_grid_search-checkpoint.ipynb
.ipynb_checkpoints/3rd_grid_search-Copy1-checkpoint.ipynb
.ipynb_checkpoints/3rd_grid_search-Copy1-checkpoint.ipynb
